<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Environment Monitor</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <style>
        html {
            display: inline-block;
            margin: auto;
            text-align: center;
        }
        h2 { font-size: 3.0rem; }
        p { font-size: 3.0rem; }
        .units { font-size: 1.2rem; }
        .dht-labels {
            font-size: 1.5rem;
            vertical-align: middle;
            padding-bottom: 15px;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <h2>Environment Monitor</h2>
    <p>
        <i class="fas fa-thermometer-half" style="color:#059e8a;"></i>
        <span class="dht-labels">Temperature</span>
        <span id="temperature">%TEMPERATURE%</span>
        <sup class="units">&deg;C</sup>
    </p>
    <p>
        <i class="fas fa-tint" style="color:#00add6;"></i>
        <span class="dht-labels">Humidity</span>
        <span id="humidity">%HUMIDITY%</span>
        <sup class="units">&percnt;</sup>
    </p>
    <p>
        <canvas id="myCanvas" width="220" height="200" style="border:2px solid #DCDCDC;border-radius: 25px;"></canvas>
        <br>
        <span id="weight">%WEIGHT%</span>
        <sup class="units">g</sup>
    </p>
        <button onclick="sendTareRequest()">　Tare　</button>

    <script>
        setInterval(function() {
            // 온도 데이터 가져오기
            var xhttpTemp = new XMLHttpRequest();
            xhttpTemp.onreadystatechange = function() {
                if (this.readyState === 4 && this.status === 200) {
                    document.getElementById("temperature").innerHTML = this.responseText;
                }
            };
            xhttpTemp.open("GET", "/temperature", true);
            xhttpTemp.send();

            // 습도 데이터 가져오기
            var xhttpHum = new XMLHttpRequest();
            xhttpHum.onreadystatechange = function() {
                if (this.readyState === 4 && this.status === 200) {
                    document.getElementById("humidity").innerHTML = this.responseText;
                }
            };
            xhttpHum.open("GET", "/humidity", true);
            xhttpHum.send();

            // 무게 데이터 가져오기
            var xhttpWeight = new XMLHttpRequest();
            xhttpWeight.onreadystatechange = function() {
                if (this.readyState === 4 && this.status === 200) {
                    document.getElementById("weight").innerHTML = this.responseText;
                }
            };
            xhttpWeight.open("GET", "/weight", true);
            xhttpWeight.send();

        }, 10000);
        // Tare 요청을 보내는 함수
        function sendTareRequest() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState === 4 && this.status === 200) {
                    console.log('Tare request sent');
                }
            };
            xhttp.open("GET", "/tare", true);
            xhttp.send();
        }
    </script>
</body>
</html>
